{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{% static 'assets/stylesheets/navigation.css' %}">
    <link rel="stylesheet" href="{% static 'assets/stylesheets/profile.css' %}">
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" type="image/.png">
    <title>Profile</title>
  </head>
  <body>
    <!---navigation-->
      <nav>
        <div class="menuicon">
            <span class="fas fa-bars"></span>
        </div>
        <div class="logoo">
          <img src="{% static 'assets/images/logo7.png' %}"/>
        </div>
        <div class="navitems">
            <li><a href="{% url 'CarsifyApp:Dashboard' %}">Home</a></li>
            <li><a href="#">
                <div class="dropdown show">
                    <a class="btn dropdown-toggle dropdown-navi" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Booking Management
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" href="{% url 'CarsifyApp:Addcar' %}">Add Vehicle</a>
                      <a class="dropdown-item" href="{% url 'CarsifyApp:MYvehicle' %}">My Vehicle</a>

                    </div>
                  </div>
            </a></li>
            <li><a href="#"><div class="dropdown show">
              <a class="btn dropdown-toggle dropdown-navi" href="profile.html" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Profile
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="{% url 'CarsifyApp:Profile' %}">View Profile</a>
                <a class="dropdown-item" href="{% url 'CarsifyApp:Editprofile' %}">Edit Profile</a>
                <a class="dropdown-item" href="{% url 'CarsifyApp:Logout' %}">Logout</a>
              </div>
            </div></a></li>
            <li><a href="{% url 'CarsifyApp:Favourites' %}">Favourites</a></li>
            <!-- <li><a href="#">Feedback</a></li> -->
        </div>
        <div class="searchicon">
            <span class="fas fa-search"></span>
        </div>
        <div class="cancelicon">
            <span class="fas fa-times"></span>
        </div>
        <form action="#">
                <input type="search" class="search-data" placeholder="Search" required>
                <button type="submit" class="fas fa-search"></button>
        </form>
    </nav>
    <div class="container">
        <div class="row pt-5 row1">
            <div class="col-lg-3 p-0">
              {% if  useralldata.ProfileImg %}
              <img id = "outImage" src="{{ useralldata.ProfileImg.url }}">
              {% else %}
              <img id = "outImage" src="{% static 'assets/images/user_init.jpg' %}">
              {% endif %}
            </div>
            <div class="col-lg-9 pt-3">
              <div class="d-flex justify-content-between py-2">
                <div class="d-block mb-1">
                  <h3>{{ request.user.first_name }} {{ request.user.last_name }}</h3>
                  <br/>
                  <p class='mb-2'>Username : {{request.user.username}}</p>
                  <p class='mb-2'>DealerID : CARSIFY-{{request.user.date_joined.year}}-{{request.user.id}}</p>
                  <!--
                  <p id="location" class="text-muted p-2"> <i class="fa fa-map-marker"></i> {{useraddress.City}}, {{useraddress.State}}, {{useraddress.country}} </p>
                  -->
                </div>
                <h5><a href="{% url 'CarsifyApp:Editprofile' %}"><i class="fa fa-pencil"></i>Edit</a></h5>
              </div>
              <br><Br>
              <a id="new_profile" ><i class="fa fa-plus"></i>New Photo</a>
              
              <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <input style="display: none;" onchange="ChangeImage(event)"  type="file" name="image" id="upload_profile">
                
                <button class="upass" type="submit"><i class="fa fa-check"> </i> Make Permanent Change</button>
            </form>

              <!-- <h6 class="mt-5"> <i class="fa fa-user"></i> About</h6> -->
            </div>
        </div>
        <div class="row pt-3 row2 mb-5 mt-4">
          <div class="col-lg-3">
            <div class="d-flex">
              <h6>Documents</h6>
              <hr>
            </div>
            <h5>AADHAR NUMBER</h5>
            <h6>{{Aadhar}}</h6>
            <h5>PAN NUMBER</h5>
            <h6>{{useralldata.PanNumber}}</h6>
            <h5>VOTER ID</h5>
            <h6>{{useralldata.VoterID}}</h6>
          </div>
          <div class="col-lg-9 contact">

            <div class="d-flex">
              <h6>Contact Information</h6>
              <hr>
            </div>
            <div class="row">
              <div class="col-lg-5">
                <h6><i class="fa fa-phone"></i>Phone Number</h6>
              </div>
              <div class="col-lg-7">
                <p>{{useralldata.ContactNo}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-5">
                <h6><i class="fa fa-envelope-open-text"></i>Email Address</h6>
              </div>
              <div class="col-lg-7">
                <p>{{request.user.email}}</p>
              </div>
            </div>


            <div class="row">
      
            
              <div class="col-lg-5">
                <h6><i class="fa fa-map-marker"></i>Address</h6>
              </div>
              <div class="col-lg-7">
                <p>{{useraddress.apartment_address}}, {{useraddress.street_address}},
                    {{useraddress.City}},
                   {{useraddress.State}},
                   {{useraddress.country}},
                    {{useraddress.zip}}</p>
              </div>

            
            </div>

            {% comment %}
            {% for add in useraddress%}
            <div class="row">
      
            
              <div class="col-lg-5">
                <h6><i class="fa fa-map-marker"></i>{{add.Address_Typee}} Address</h6>
              </div>
              <div class="col-lg-7">
                <p>{{add.apartment_address}}, {{add.street_address}},
                    {{add.City}},
                   {{add.State}},
                   {{add.country}},
                    {{add.zip}}</p>
              </div>

            
            </div>
            {% endfor %}
            {% endcomment %}
            
          </div>
        </div>
        <!-- <div class="row pt-3 row3">
          <div class="col-lg-3"></div>
          <div class="col-lg-9">
            <div class="d-flex">
              <h6>Change Password</h6>
              <hr>
            </div>
            <div class="row">
              <div class="col-md-5">
                <label for="">New Password</label>
              </div>
              <div class="col-md-7">
                <input type="password">
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <label for="">New Password</label>
              </div>
              <div class="col-md-7">
                <input type="password">
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <label for="">New Password</label>
              </div>
              <div class="col-md-7">
                <input type="password">
              </div>           
            </div>
            <div class="row">
              <div class="col-md-5">
                
              </div>
              <div class="col-md-7">
                <button class="upass"> Update Password</button>
              </div>           
            </div>
          </div>
          -->
        <!-- </div> -->
        
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script>
    function ChangeImage(e) {
        var image = document.getElementById("outImage");
        image.src = URL.createObjectURL(e.target.files[0]);
    }
    </script>
    <script>
      document.querySelector('#new_profile').addEventListener('click',function(){
        document.querySelector('#upload_profile').click();
      })
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static 'assets/javascripts/navigation.js' %}"></script>
  </body>
</html>